<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock Portfolio Suggestion Engine</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static',filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ url_for('static',filename='css/creative.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/crazy_invest.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CRAZY INVESTMENT</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Try</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>INVEST</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" id="header_subtitle">with this remarkable stock portfolio suggestion engine</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">TRY IT NOW</a>
          </div>
        </div>
      </div>
    </header>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Select Your Strategy</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <form id="strategy_selection_form" action = "" method="post" name="Strategy">
          <input type="hidden" name="strategies" id="selected_strategies_val">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center strategy-container">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Quality Investing</h3><span class="hidden strategy-key">Quality</span>
                <p class="text-muted mb-0">Choose best overall rather than best-in-class</p>
                <div class="gap-small"></div>
                <i class="fa fa-2x fa-check-circle-o text-primary mb-3 sr-icons strategy-checked-icon invisible"></i>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center strategy-container">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Growth Investing</h3><span class="hidden strategy-key">Growth</span>
                <p class="text-muted mb-0">Invest in companies that exhibit signs of growth</p>
                <div class="gap-small"></div>
                <i class="fa fa-2x fa-check-circle-o text-primary mb-3 sr-icons strategy-checked-icon invisible"></i>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center strategy-container">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Index Investing</h3><span class="hidden strategy-key">Index</span>
                <p class="text-muted mb-0">Track prominent indexes like the SP 500</p>
                <div class="gap-small"></div>
                <i class="fa fa-2x fa-check-circle-o text-primary mb-3 sr-icons strategy-checked-icon invisible"></i>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center strategy-container">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Ethical Investing</h3><span class="hidden strategy-key">Ethical</span>
                <p class="text-muted mb-0">Consider both financial return and social good</p>
                <div class="gap-small"></div>
                <i class="fa fa-2x fa-check-circle-o text-primary mb-3 sr-icons strategy-checked-icon invisible"></i>
              </div>
            </div>
          </div>
        
          <div class="gap-small"></div>
          <div class="row">
            <div class="container text-center">
              <input type="text" name="amount" id="input_amount" placeholder=" Amount: " size="20">
              <div class="gap-small"></div>
              <p class="btn btn-xl sr-button" id="selection_hint" style="color: #f05f40">One or Two Strategies And above 5000 Amount</p>
              <div id="submit_btn_container">
                <a class="btn btn-xl btn-primary" href="javascript:void(0)" id="submit_strategy_selection">Suggestion</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section id="about" class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="section-heading">About Our Team</h2>
        <hr class="my-4">
        <div class="row row-wrap" data-gutter="60">
          
          <div class="col-md-3">
              <div class="thumb text-center">
                  <header class="thumb-header">
                      <img class="round" src="{{ url_for('static',filename='img/avatar1.jpeg') }}" alt="Image Alternative text" title="Gamer Chick" />
                  </header>
                  <div class="gap-small"></div>
                  <div class="thumb-caption">
                      <h5 class="thumb-title">Xiaoran Lin</h5>
                      <p class="text-muted mb-0">Developer</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumb text-center">
                  <header class="thumb-header">
                      <img class="round" src="{{ url_for('static',filename='img/avatar2.jpg') }}" alt="Image Alternative text" title="Gamer Chick" />
                  </header>
                  <div class="gap-small"></div>
                  <div class="thumb-caption">
                      <h5 class="thumb-title">Ruifeng Sheng</h5>
                      <p class="text-muted mb-0">Developer</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumb text-center">
                  <header class="thumb-header">
                      <img class="round" src="{{ url_for('static',filename='img/avatar4.jpg') }}" alt="Image Alternative text" title="Gamer Chick" />
                  </header>
                  <div class="gap-small"></div>
                  <div class="thumb-caption">
                      <h5 class="thumb-title">Mutian Wang</h5>
                      <p class="text-muted mb-0">Developer</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumb text-center">
                  <header class="thumb-header">
                      <img class="round" src="{{ url_for('static',filename='img/avatar3.jpg') }}" alt="Image Alternative text" title="Gamer Chick" />
                  </header>
                  <div class="gap-small"></div>
                  <div class="thumb-caption">
                      <h5 class="thumb-title">Annan Wang</h5>
                      <p class="text-muted mb-0">Developer</p>
                  </div>
              </div>
          </div>
          

        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your investment with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>666-101-9999</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">666@crazyinvestment.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static',filename='js/creative.js') }}"></script>

  </body>

</html>
